---
import { Icon } from "icons";
---

<footer>
    <a href="https://github.com/noClaps/blog" title="Source Code">
        <Icon name="github" />
    </a>
    <a href="/rss.xml" title="Atom Feed">
        <Icon name="rss" />
    </a>
    <noscript>
        <a href="/sitemap">Sitemap</a>
    </noscript>
</footer>

<style lang="scss">
    footer {
        margin-top: 4rem;
        position: relative;
        display: flex;
        bottom: 0;
        padding: 1rem;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--text);
            padding: 0.5rem;
            margin: 0 0.25rem;
            border-radius: 0.5rem;
            display: grid;
            transition: all 0.25s;

            &:hover {
                color: var(--link);
            }
        }
    }
</style>
