---
import Nav from "./Nav.astro";
import { ThemeToggle } from "@noclaps/components";
import { Sidebar } from "@noclaps/components";
---

<header>
  <h3>
    <a href="/">The Blog of Random</a>
    <ThemeToggle />
  </h3>
  <nav id="nav">
    <Nav />
  </nav>
  <Sidebar>
    <Nav />
  </Sidebar>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    top: 0;
    padding: 2vh 1vw;
    position: sticky;
    z-index: 2;
    transition: all 0.25s;
  }

  h3 {
    margin: 0;
    display: inline-flex;
  }

  a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.25s;
    color: var(--text);

    &:hover {
      color: var(--accent);
    }
  }

  /* Nav */
  nav {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    @media (min-width: 769px) {
      display: flex;
    }
  }
</style>
