---
import Nav from "./Nav.astro";
import { ThemeToggle } from "@noclaps/theme-toggle";
import { Sidebar } from "@noclaps/common";
---

<header>
  <h3>
    <a href="/">The Blog of Random</a>
    <ThemeToggle />
  </h3>
  <nav id="nav">
    <Nav />
  </nav>
  <Sidebar>
    <Nav />
  </Sidebar>
</header>

<style lang="scss">
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    top: 0;
    margin: 2vh 1vw;

    h3 {
      margin: 0;
      display: inline-flex;

      a {
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.25s;
        color: var(--text);

        &:hover {
          color: var(--link);
        }
      }
    }

    // Nav
    nav {
      display: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      @media (min-width: 769px) {
        display: flex;
      }
    }
  }
</style>
