---
import { Icon } from "@noclaps/icons";
const { title } = Astro.props;
---

<div class="note">
  <p>
    <Icon name="note" />
    <b>{title ? title : "NOTE"}</b>
  </p>
  <slot />
</div>

<style>
  .note {
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--note-bg);
    color: var(--note-text);
    margin: 0.5rem 0;
  }

  p {
    margin: 0;
  }

  b {
    vertical-align: middle;
  }
</style>
