---
import { Icon } from "@noclaps/icons";

const { name, link } = Astro.props;
---

<blockquote class="quote">
  <p>
    <Icon name="quote" />
    {
      link ? (
        <b>
          <a href={link} target="_blank" rel="noopener noreferrer">
            {name}
          </a>
        </b>
      ) : (
        <b>{name ? name : "QUOTE"}</b>
      )
    }
  </p>
  <slot />
</blockquote>

<style>
  .quote {
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    margin: 0.5rem 0;
  }

  p {
    margin: 0;
  }

  b {
    vertical-align: middle;
  }
</style>
