---
import Header from "../components/Header.astro";

import { Head, Footer } from "@noclaps/common";
import "@noclaps/common/global.css";

import "../styles/global.css";

const {
  title,
  description = "A blog about the most random things you can think of, brought to you by the most interesting boring person you've ever met.",
} = Astro.props;
---

<html lang="en">
  <Head site="blog" title={title} description={description} />
  <body>
    <Header />
    <slot />
    <Footer site="blog" />
  </body>
</html>
