---
import Header from "../components/Header.astro";

import { Head, Footer } from "@noclaps/common";
import "@noclaps/common/global.scss";

import "@fontsource/patua-one";
import "@fontsource-variable/jetbrains-mono";
import "../styles/global.scss";

const {
  title,
  description = "A blog about the most random things you can think of, brought to you by the most interesting boring person you've ever met.",
} = Astro.props;
---

<html lang="en">
  <Head site="blog" title={title} description={description} />
  <body>
    <Header />
    <slot />
    <Footer site="blog" />
    <script>
      import Swup from "swup";
      import SwupSlideTheme from "@swup/slide-theme";
      import SwupHeadPlugin from "@swup/head-plugin";
      import SwupScrollPlugin from "@swup/scroll-plugin";

      const swup = new Swup({
        plugins: [
          new SwupScrollPlugin({
            doScrollingRightAway: true,
          }),
          new SwupHeadPlugin(),
          new SwupSlideTheme(),
        ],
      });
    </script>
  </body>
</html>
