@mixin light-theme {
    // Main
    --link: #fa0;

    // Accents
    --primary-bg: #fa0;
    --primary-text: #222;
    --selection-bg: #fb6;
    --selection-text: #222;
}

@mixin dark-theme {
    // Main
    --link: #fb6;

    // Accents
    --primary-bg: #fb6;
    --primary-text: #222;
    --selection-bg: #fa0;
    --selection-text: #222;
}

body {
    @media (prefers-color-scheme: dark) {
        @include dark-theme;
    }

    @media (prefers-color-scheme: light) {
        @include light-theme;
    }

    &.light {
        @include light-theme;
    }

    &.dark {
        @include dark-theme;
    }
}
