body.light {
    --text: #061222;
    --background: #f6f9fd;
    --primary: #0066ff;
    --secondary: #cbddf6;
    --accent: #2569d0;

    /* Accents */
    --selection-bg: #048;
    --selection-text: #def;
    
    /* Quote */
    --quote-bg: #def;
    --quote-text: #013;

    /* Warning */
    --warning-bg: #fdd;
    --warning-text: #402;

    /* Note */
    --note-bg: #fdf;
    --note-text: #212;
}

body.dark {
    --text: #f6f9fd;
    --background: #061222;
    --primary: #0066ff;
    --secondary: #061223;
    --accent: #a0bfee;

    /* Accents */
    --selection-bg: #def;
    --selection-text: #013;
    
    /* Quote */
    --quote-bg: #048;
    --quote-text: #def;
    
    /* Warning */
    --warning-bg: #900;
    --warning-text: #fdd;

    /* Note */
    --note-bg: #535;
    --note-text: #fdf;
}