body {
    --code-bg: #24292e;
    --code-text: #e1e4e8;
}

body.light {
    --accent: oklch(50% 0.25 256);

    /* Components */
    --quote: oklch(50% 0.25 256);
    --warning: oklch(50% 0.25 0);
    --note: oklch(60% 0.25 300);
}

body.dark {
    --accent: oklch(75% 0.25 256);

    /* Components */
    --quote: oklch(60% 0.25 256);
    --warning: oklch(40% 0.25 0);
    --note: oklch(40% 0.25 300);
}