.note a {
    color: var(--note-text);
    text-decoration: underline;
}


.quote a {
    color: var(--quote-text);
    text-decoration: underline;
}

.warning a {
    color: var(--warning-text);
    text-decoration: underline;
}