<template id="b-warning">
  <p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-alert-triangle"
      ><path
        d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
      ></path><path d="M12 9v4"></path><path d="M12 17h.01"></path></svg
    >
    <b id="title"></b>
  </p>
</template>

<script>
	import { marked } from "marked"
	class BWarning extends HTMLElement {
		constructor() {
			super()
			
			const template = document.querySelector("#b-warning")
			if (!template) throw new Error("Warning template not found")

			const content = this.innerHTML.trim()
			this.innerHTML = template.innerHTML

			this.insertAdjacentHTML("beforeend", marked.parse(content) as string)

			const title = this.getAttribute("title") ?? "WARNING"
			const titleElem = this.querySelector("#title")
			if (!titleElem) throw new Error("Title section of warning template not found")
			titleElem.innerHTML = title.trim()
		}
	}

	customElements.define("b-warning", BWarning)
</script>

<style>
  :global(b-warning) {
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: oklch(var(--warning) / 25%);
    border: 0.125rem solid oklch(var(--warning));
  }

  p {
    margin: 0;
  }

  b {
    vertical-align: middle;
  }

  svg {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
</style>
