---
import "../styles/searchResults.css";
---

<div id="search">
  <input
    id="searchBar"
    type="search"
    placeholder="Search for anything"
    autofocus
  />
  <ul id="searchResults"></ul>
  <p id="hint"></p>
</div>

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  div {
    width: 100%;
    display: none;
  }

  p {
    text-align: center;
    animation: fadeIn 0.25s;
  }

  input {
    width: 100%;
    background-color: var(--variant);
    border: none;
    padding: 0.75rem;
    border-radius: 0.75rem;
    color: var(--text);
    font-size: 1.25rem;
    text-align: center;
    position: relative;

    :focus-visible {
      outline: none;
    }
  }
</style>

<script src="../scripts/fuseSearch.ts"></script>
<script>
  // Only load search component if JS is enabled
  const searchComponent = document.getElementById("search")!;
  searchComponent.style.display = "initial";

  const hints = [
    "Hint: Type * to see all results!",
    "Try searching for my blog!",
    "Say cheese! Check out my photography by searching for it!",
    "Wanna talk? Search for my Matrix!",
    "All my work is open source, check it out by searching for 'GitHub'!",
    "If you wanna see all of my posts, try searching for 'posts'!",
    "Yearning for the ye olden days? Search for 'history'!",
    "In a science-y mood? Try searching for 'science'!",
    "Learn about our digital world by searching for 'tech'!",
    "Like my stuff? Consider donating by searching for 'donate'!",
  ];

  document.getElementById("hint")!.innerHTML =
    hints[Math.floor(Math.random() * hints.length)];
</script>
