/* Font */
:root,
input,
button {
    font-family: -apple-system, "Inter var", system-ui;
}

/* Root */
:root,
:before,
:after {
    box-sizing: border-box;
}

main {
    width: 88vw;
    max-width: 64rem;
    place-self: center;
}

p,
li {
    text-align: justify;
}

/* Nav */
nav img {
    margin: auto;
}

/* Theme toggle icons */
body.light {
    & .moon {
        width: 1.25rem;
    }

    & .sun {
        width: 0;
    }
}

body.dark {
    & .moon {
        width: 0;
    }

    & .sun {
        width: 1.25rem;
    }
}

[astro-icon] {
    place-self: center;
    fill: currentColor;
}