/* Colors */
:root {
    --background: canvas;
    --text: canvastext;
    --on-accent: oklch(100% 0 0);
    --accent: oklch(62.5% 0.25 256);

    @supports (color: accentcolor) {
        --accent: accentcolor;
    }

    color-scheme: dark light;
}

/* Font */
:root,
input,
button {
    font-family: -apple-system, "InterVariable", system-ui;
}

/* Root */
:root,
:before,
:after {
    box-sizing: border-box;
}

main {
    width: 88vw;
    max-width: 64rem;
    justify-self: center;
}

p,
li {
    text-align: justify;
}