/* Colors */
body.light {
    --background: oklch(100% 0 0);
    --text: oklch(15% 0 0);
}

body.dark {
    --background: oklch(15% 0 0);
    --text: oklch(95% 0 0);
}

/* Font */
:root,
input,
button {
    font-family: -apple-system, "Inter var", system-ui;
}

/* Root */
:root,
:before,
:after {
    box-sizing: border-box;
}

main {
    width: 88vw;
    max-width: 64rem;
    justify-self: center;
}

p,
li {
    text-align: justify;
}