details {
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--details-bg);
    color: var(--details-text);
    margin: 0.5rem 0;
}

/* Thanks to https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
details ul {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    list-style-type: none;
    padding-left: 0;
}

details li {
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    white-space: nowrap;
}

details a {
    color: var(--details-text) !important;
}

details summary {
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}