---
import Link from "@/components/Link.astro";
import Title from "@/components/layout/Title.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes").then((notes) => {
    return notes.sort((a, b) => {
        const aDate = a.data.lastmod ?? a.data.date;
        const bDate = b.data.lastmod ?? b.data.date;

        if (aDate > bDate) return -1;
        if (aDate < bDate) return 1;
        return 0;
    });
});
---

<BaseLayout title="Notes | The Blog of Random">
    <main>
        <Title />
        <section>
            {
                notes.map((note) => (
                    <Link
                        title={note.data.title}
                        href={`notes/${note.slug}`}
                        date={note.data.lastmod ?? note.data.date}
                        author={note.data.author.id}
                    />
                ))
            }
        </section>
    </main>
</BaseLayout>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, min-content));
        gap: 1rem;
        margin: 2rem 0;

        @media (max-width: 768px) {
            grid-template-columns: unset;
            grid-template-rows: 1fr;
        }
    }
</style>
