---
import Header from "../components/Header.astro";

import { Head, Footer } from "@noclaps/common";
import "@noclaps/common/global.scss";

import "../styles/global.scss";

const {
  title,
  description = "A website to showcase some cool photos I've taken.",
} = Astro.props;
---

<html lang="en">
  <Head site="gallery" title={title} description={description} />
  <body>
    <Header />
    <slot />
    <Footer site="gallery" />
  </body>
</html>
