/* Font */
:root,
input,
button {
    font-family: system-ui;
}

h1,
h2,
h3,
h4 {
    font-family: ui-serif, serif;
}

/* Root */
*,
:before,
:after {
    box-sizing: border-box;
}

main {
    width: 88vw;
    max-width: 64rem;
    place-self: center;
}

p,
li {
    text-align: justify;
}

/* Nav */
nav img {
    margin: auto;
}

/* Theme toggle icons */
body.light {
    & .moon {
        width: 1.25rem;
    }

    & .sun {
        width: 0;
    }
}

body.dark {
    & .moon {
        width: 0;
    }

    & .sun {
        width: 1.25rem;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.375rem;
}