body.light {
    --text: #000000;
    --background: #fddece;
    --primary: #ff732e;
    --secondary: #feebe2;
    --accent: #762b05;
}

body.dark {
    --text: #fddece;
    --background: #000000;
    --primary: #ff732e;
    --secondary: #451903;
    --accent: #f6661e;
}