@define-mixin light-theme {
    /* Main */
    --link: #fa0;

    /* Accents */
    --primary-bg: #fa0;
    --primary-text: #222;
}

@define-mixin dark-theme {
    /* Main */
    --link: #fb6;

    /* Accents */
    --primary-bg: #fb6;
    --primary-text: #222;
}

body {
    @media (prefers-color-scheme: dark) {
        @mixin dark-theme;
    }

    @media (prefers-color-scheme: light) {
        @mixin light-theme;
    }

    &.light {
        @mixin light-theme;
    }

    &.dark {
        @mixin dark-theme;
    }
}
