@keyframes colorwheel-svg {

    0%,
    100% {
        fill: var(--blog);
    }

    33% {
        fill: var(--docs);
    }

    66% {
        fill: var(--gallery);
    }
}

:root {
    /* Site colors */
    --blog: oklch(62.5% 0.25 256);
    --gallery: oklch(50% 0.25 150);
    --docs: oklch(50% 0.25 320);

    --gradient: linear-gradient(to bottom right, var(--gallery), var(--blog), var(--docs));
    --accent: oklch(75% 0.25 60);
    --starfield-text: oklch(100% 0 0);
}