body {
    transition: all 0.25s;
    background-color: var(--background);
    color: var(--text);
}

p {
    line-height: 1.5rem;
}

.infinity {
    filter: var(--brightness);
    animation: colorwheel-svg 10s ease-in-out infinite alternate;
}