/* Fonts */
code {
    overflow-wrap: break-word;
    font-family: ui-monospace, monospace;
}

/* Root */
body {
    background-color: var(--background);
    color: var(--text);
}

main {
    width: min(64rem, 88dvw);
    margin: auto;

    & a {
        text-decoration: none;
        color: var(--primary);
        white-space: break-spaces;

        &:hover {
            text-decoration: underline;
        }
    }
}

p,
li {
    text-align: justify;
    line-height: 1.5rem;
}

hr {
    border: none;
    border-top: solid 0.125rem var(--primary);
}