/* Fonts */
@font-face {
    font-family: STIX Two Math;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("STIX Two Math"), url("/STIXTwoMath.woff2");
}

@view-transition {
    navigation: auto;
}

/* Vars */
:root {
    --code-bg: #222;
    --code-text: #ccc;

    --sans: system-ui;
    --serif: ui-serif, serif;
    --math: "STIX Two Math", math;
    --mono: ui-monospace, monospace;

    --text: oklch(90% 0 none);
    --background: oklch(20% 0 none);
    --light: oklch(from var(--text) l c h / 70%);
    --primary: oklch(70% 0.225 256);
}

/* Root */
:root {
    color-scheme: dark;
    scroll-behavior: smooth;
    font-family: var(--sans);
    font-weight: 450;
}

body {
    background-color: var(--background);
    color: var(--text);
    width: 88dvw;
    max-width: 48rem;
    margin: auto;
    margin-bottom: 2rem;
}

p {
    line-height: 1.5;
    margin-block: 1lh;
}

/* Header */
header {
    display: flex;
    padding-block: 2dvh;
    background-color: var(--background);
    justify-content: space-between;
    align-items: center;

    nav {
        display: flex;
        gap: 1rem;
    }

    a {
        color: var(--text);
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        transition: color 0.25s;

        &:hover {
            color: var(--primary);
        }
    }

    svg {
        height: 1.25rem;
        width: 1.25rem;
    }

    h1 {
        font-size: 1.25rem;
        margin: 0;
    }
}

time {
    margin: 0.25rem 0;
    color: var(--light);
    font-family: var(--mono);
}

h2 {
    margin-top: 2.5rem;
}
