.note-header,
.post-header,
.post-info {
    display: flex;
}

.post-header,
.note-header {
    flex-direction: column;
}

h1 {
    margin-bottom: 0;
}

time {
    font-weight: bold;
    opacity: 0.75;
}

.description {
    opacity: 0.75;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.author {
    font-style: italic;
    opacity: 0.75;
}

.author-link {
    color: var(--text);
    transition: all 0.25s;
}

.post-info {
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}