@import url("./global.css");

/* Headings */
h3 {
    margin-top: 2rem;
    margin-bottom: 0;
}

/* Links */
article a:has(code) {
    text-decoration: underline;
}

article a {
    text-decoration: none;
    color: var(--primary);
    white-space: break-spaces;

    &:hover {
        text-decoration: underline;
    }
}

/* Tables */
table {
    margin: 1rem auto;
    border: solid var(--text);
}

th {
    text-decoration: underline;
}

td,
th {
    padding: 0.375rem;
}

/* Code */
pre {
    border-radius: 0.5rem;
    padding: 1rem;
    overflow-x: auto;
}

code:not(pre code) {
    overflow-wrap: break-word;
    font-family: var(--mono);
    background-color: var(--code-bg);
    color: var(--code-text);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

/* Math */
math[display="block"] {
    margin: 1rem;
    font-size: 1.125rem;
}

/* Layout */
.post-header {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 0.5rem;
    font-size: 1.625rem;
}

time {
    font-weight: bold;
}

.description {
    color: var(--light);
    margin: 1rem 0;
    font-weight: bold;
}

/* Figure */
figure {
    margin: auto 0;
}

figcaption {
    text-align: center;
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
    object-fit: contain;
}

/* Containers */
.znak-container {
    display: grid;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: oklch(from var(--container) l c h / 5%);
    border-left: 0.25rem solid var(--container);

    p[class$="heading"] {
        margin: 0;
        text-align: left;

        b {
            vertical-align: middle;
        }

        svg {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

        a {
            color: var(--text);
            text-decoration: underline;
        }
    }

    a {
        color: oklch(from var(--container) 60% c h);
    }
}

.quote {
    --container: oklch(50% 0.25 256);
}

.note {
    --container: oklch(50% 0.25 300);
}

.warning {
    --container: oklch(50% 0.25 0);
}

/* Lists */
ol,
ul {
    padding-left: 1.5rem;
}

/* Text */
strong,
b {
    font-weight: 750;
}

article p {
    text-align: justify;
}

em {
    font-family: var(--serif);
}

/* Horizontal rule */
hr {
    border: none;
    border-top: solid 0.125rem var(--light);
}
