/* Root */
.content {
    margin-top: 1rem;

    @media (min-width: 768px) {
        &:has(.toc) {
            display: grid;
            grid-template-columns: 1fr 4fr;
            margin: 0 2rem;
            gap: 1rem;
        }
    }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--serif);
    scroll-margin-top: 4.5rem;
}

h2 {
    border-top: solid 0.125rem var(--primary);
    padding-top: calc(4rem / 3);
    margin-top: 0.5rem;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 0;
}

/* Links */
article a {
    transition: all 0.25s;
    border-radius: 0.25rem;
    padding: 0.125rem;
    text-decoration: underline;

    &:hover {
        background-color: var(--primary);
        color: var(--on-primary);
        text-decoration: none;
    }
}

/* Tables */
table {
    margin: 1rem auto;
    border: solid var(--text);
}

th {
    text-decoration: underline;
}

td,
th {
    padding: 0.375rem;
}

/* Code */
.astro-code {
    border-radius: 0.5rem;
    padding: 1rem;
}

code:not(.astro-code code) {
    background-color: var(--code-bg);
    color: var(--code-text);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

img {
    width: 100%;
    object-fit: contain;
}

/* Table of Contents */
details {
    position: absolute;
    background-color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--text);
    width: max-content;
    left: 2.5rem;
    top: -0.25rem;

    @media (min-width: 768px) {
        display: none;
    }
}

.toc {
    position: sticky;
    height: min-content;
    top: 4rem;
    overflow: auto;
    max-height: 85dvh;

    @media (max-width: 768px) {
        display: none;
    }
}