:root {
    background-color: #222;
    color: #ccc;
}

attribute,
property {
    color: #83d288;
}

boolean,
markup.link,
number {
    color: #ff732e;
}

comment,
punctuation,
punctuation.bracket,
punctuation.delimiter,
markup.list {
    color: #666;
}

constant {
    color: #99c7ff;
}

constructor,
string,
type {
    color: #ff9f5b;
}

markup.italic {
    font-style: italic;
}

markup.bold,
markup.heading {
    font-weight: 700;
}

function {
    color: #bf89ff;
}

keyword,
tag {
    color: #ff6b68;
}

markup.link.url {
    color: #3984f2;
}

operator,
string.escape {
    color: #aaa;
}

variable {
    color: #ccc;
}
