<header>
    {
        Astro.url.pathname !== "/" && Astro.url.pathname !== "/notes" ? (
            <div>
                <a
                    class="home"
                    href={
                        Astro.url.pathname.startsWith("/notes") ? "/notes" : "/"
                    }
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-home"
                    >
                        <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        <polyline points="9 22 9 12 15 12 15 22" />
                    </svg>
                </a>
                <slot>
                    <div />
                </slot>
            </div>
        ) : (
            <div />
        )
    }
    <a class="rss" href="/rss.xml" title="RSS Feed"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-rss"
            ><path d="M4 11a9 9 0 0 1 9 9"></path>
            <path d="M4 4a16 16 0 0 1 16 16"></path>
            <circle cx="5" cy="19" r="1"></circle>
        </svg>
    </a>
</header>

<style>
    header {
        display: flex;
        padding: 2dvh 0;
        background-color: var(--background);
        position: sticky;
        top: 0;
        z-index: 2;
        justify-content: space-between;
    }

    a {
        transition: all 0.25s;
        color: var(--text);
        padding: 0.25rem;
        text-decoration: none;
        font-weight: bold;
        border-radius: 0.25rem;

        &.notes:hover {
            background-color: var(--primary);
            color: var(--on-primary);
        }

        &.rss:hover,
        &.home:hover {
            color: var(--primary);
        }
    }

    svg {
        height: 1.25rem;
        width: 1.25rem;
        vertical-align: middle;
    }

    div {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: relative;
    }
</style>
