---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Topic from "@/components/Topic.astro";
import Title from "@/components/layout/Title.astro";
---

<BaseLayout title="The Blog of Random">
  <main>
    <Title />
    <section>
      <Topic section="history" />
      <Topic section="law" />
      <Topic section="science" />
      <Topic section="tech" />
    </section>
  </main>
</BaseLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
  }
</style>
