---
import BaseLayout from "../layouts/BaseLayout.astro";
import Topic from "../components/Topic.astro";
import Icon from "@/components/Icon.astro";
---

<BaseLayout title="The Blog of Random">
  <main>
    <h1>The Blog of Random</h1>
    <p>A blog about the most random things you can think of.</p>
    <a href="/blog.rss"><Icon name="rss" /></a>
    <div>
      <Topic section="history" />
      <Topic section="law" />
      <Topic section="science" />
      <Topic section="tech" />
    </div>
  </main>
</BaseLayout>

<style>
  h1 {
    font-size: min(5rem, 15vmin);
    color: var(--primary);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 2rem;
    line-height: 1.25;
    text-align: left;
  }

  div {
    columns: 24rem auto;
    gap: 1rem;
  }

  a {
    color: var(--text);
    transition: all 0.25s;

    &:hover {
      color: var(--primary);
    }
  }
</style>
