@define-mixin light-theme {
    /* Main */
    --link: #062;
    --image-bg: #fffc;
    --filter: blur(10px);

    /* Accents */
    --primary-bg: #6f8;
    --primary-text: #020;
}

@define-mixin dark-theme {
    /* Main */
    --link: #4e7;
    --image-bg: #111c;
    --filter: blur(10px);

    /* Accents */
    --primary-bg: #052;
    --primary-text: #6f8;
}

body {
    @media (prefers-color-scheme: dark) {
        @mixin dark-theme;
    }

    @media (prefers-color-scheme: light) {
        @mixin light-theme;
    }

    &.light {
        @mixin light-theme;
    }

    &.dark {
        @mixin dark-theme;
    }
}
