body.light {
    --image-bg: #f8fdedcc;
    --text: #1a2504;
    --background: #f8fded;
    --primary: #195c0a;
    --secondary: #c2f9d5;
    --accent: #084f1f;
}

body.dark {
    --image-bg: #1a2504cc;
    --text: #f8fded;
    --background: #1a2504;
    --primary: #195c0a;
    --secondary: #03200d;
    --accent: #17d954;
}