/* Zoomed images */
.medium-zoom-image--opened {
    border-radius: 0.5rem;
}

body {
    background-color: var(--background);
    color: var(--text);
    transition: all 0.25s;
}

::-webkit-scrollbar {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-color: var(--background);
}