body {
    justify-content: space-between;
}

p {
    margin: 1.25rem 0;
}

/* Zoomed images */
.medium-zoom-overlay {
    backdrop-filter: var(--filter);
}

.medium-zoom-image--opened {
    border-radius: 0.5rem;
}