---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About this blog">
    <main>
        <h1>About this blog</h1>
        <hr />
        <p>
            This blog is about pretty much any topic I find interesting at the
            moment. I've written about historical topics, math stuff, tech, and
            more. I'd love ideas for things to write about. You can recommend
            them at my GitHub by opening an issue.
        </p>
        <p>
            I don't have a strict upload schedule, but on average I post about
            once a month, though don't quote me on that (I've gone like 3 months
            without posting before.). I try to write as frequently as I can, but
            I get distracted easily and I procrastinate a lot, so you might go a
            few weeks or sometimes months without any new posts, so sorry about
            that.
        </p>

        <h2>How can I keep up with updates/new posts?</h2>
        <p>
            You can subscribe to the <a href="/rss.xml">RSS feed</a>. Another
            option is to subscribe to the GitHub Releases Atom feed for this,
            since I'll create a new release when I make a new post or a big
            change / set of changes to the website.
        </p>

        <h2>Disclaimer</h2>
        <p>
            I'm not an expert in any of the things I talk about in this blog.
            I'm just someone who likes to read about the most random and obscure
            things I can think of, not a professional historian or cybersecurity
            researcher. A lot of the information I get comes from the internet,
            and I think we all know how trustworthy and reliable that is. Of
            course, I do my best to get info from trustworthy sources, but they
            can get stuff wrong too. If you do find something wrong with the
            content of my blog, or really any problem in general, <a
                href="https://github.com/noClaps/blog/issues/new/choose"
                >open an issue</a
            >!
        </p>
        <p>
            There is also the chance that I don't have the most up-to-date
            information in my content. This can be because my sources were old,
            or I haven't bothered to update the content, or I simply don't know
            that its outdated. In any case, if you're using the content of my
            blog as a reference for something (first of all, why?), make sure
            that you're cross-checking all the information and ensuring that
            it's all up-to-date. I do not take responsibility for your bad
            grades, or anything else that happens because of incorrect or
            outdated content in my blog.
        </p>
    </main>
    <style lang="scss">
        h1 {
            scroll-margin-top: 12vh;
            text-align: center;
        }

        h2 {
            border-top: solid 0.125rem var(--variant);
            padding-top: 1.33rem;
            margin-top: 0.5rem;
        }
    </style>
</BaseLayout>
