---
import { Head } from "@noclaps/common";
import { ThemeToggle } from "@noclaps/theme-toggle";

import "../styles/global.scss";

const { title, description="The most interesting boring homepage you've ever seen" } = Astro.props;
---

<html lang="en">
  <Head site="homepage" title={title} description={description} />
  <body>
    <header>
      <ThemeToggle />
    </header>
    <slot />
  </body>
</html>
