@define-mixin light-theme {
    /* Main */
    --link: #05b;

    /* Accents */
    --primary-bg: #def;
    --primary-text: #013;
    --selection-bg: #048;
    --selection-text: #def;

    /* Details */
    --details-bg: #9fb;
    --details-text: #021;

    /* Warning */
    --warning-bg: #fdd;
    --warning-text: #402;

    /* Note */
    --note-bg: #fdf;
    --note-text: #212;
}

@define-mixin dark-theme {
    /* Main */
    --link: #acf;

    /* Accents */
    --primary-bg: #048;
    --primary-text: #def;
    --selection-bg: #def;
    --selection-text: #013;

    /* Details */
    --details-bg: #053;
    --details-text: #9fb;

    /* Warning */
    --warning-bg: #900;
    --warning-text: #fdd;

    /* Note */
    --note-bg: #535;
    --note-text: #fdf;
}


body {
    @media (prefers-color-scheme: dark) {
        @mixin dark-theme;
    }

    @media (prefers-color-scheme: light) {
        @mixin light-theme;
    }

    &.light {
        @mixin light-theme;
    }

    &.dark {
        @mixin dark-theme;
    }
}
