@use "colors";

// Fonts
h1,
h2,
h3:not(header h3),
h4,
h5,
h6 {
    font-family: "Patua One", sans-serif;
    font-weight: normal;
}

code {
    font-family: "JetBrains Mono", monospace;
    overflow-wrap: break-word;

    @supports (font-variation-settings: normal) {
        font-family: "JetBrains Mono Variable", monospace;
    }
}

// Root
body {
    justify-content: space-between;
}

main {
    a {
        text-decoration: none;
        color: var(--link);

        @supports (white-space: break-spaces) {
            white-space: break-spaces;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

p,
li {
    opacity: 0.95;
}

hr {
    border: none;
    border-top: solid 0.125rem var(--variant);
}

.swup-progress-bar {
    background-color: var(--link);
}