@use "colors";

// Fonts
@import url("https://rsms.me/inter/inter.css");

html,
button,
main div h2 {
    font-family: "Inter", sans-serif;

    @supports (font-variation-settings: normal) {
        font-family: "Inter var", sans-serif;
    }
}

h1,
h2,
h3:not(header h3),
h4,
h5,
h6 {
    font-family: "Patua One", sans-serif;
    font-weight: normal;
}

code {
    font-family: "JetBrains Mono", monospace;
    overflow-wrap: break-word;

    @supports (font-variation-settings: normal) {
        font-family: "JetBrains Mono Variable", monospace;
    }
}

// Root
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    justify-content: space-between;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;

    @supports (scroll-behavior: smooth) {
        scroll-behavior: smooth;
    }
}

html {
    height: -webkit-fill-available;
}

main {
    width: 88vw;
    max-width: 64rem;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: var(--link);

        @supports (white-space: break-spaces) {
            white-space: break-spaces;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

p,
li {
    line-height: 1.5rem;
    text-align: justify;
    opacity: 0.95;
}

// Scrollbar
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--variant);
    border-radius: 0.5rem;
    border: solid 0.375rem var(--bg);
}

hr {
    border: none;
    border-top: solid 0.125rem var(--variant);
}