/* Fonts */
code {
    overflow-wrap: break-word;
    font-family: ui-monospace, monospace;
}

/* Root */
body {
    justify-content: space-between;
}

main {
    & a {
        text-decoration: none;
        color: var(--link);

        @supports (white-space: break-spaces) {
            white-space: break-spaces;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

p,
li {
    opacity: 0.95;
}

hr {
    border: none;
    border-top: solid 0.125rem var(--variant);
}