/* Fonts */
code {
    overflow-wrap: break-word;
    font-family: ui-monospace, monospace;
}

/* Root */
main a {
    text-decoration: none;
    color: var(--link);
    white-space: break-spaces;

    &:hover {
        text-decoration: underline;
    }
}

p,
li {
    line-height: 1.5rem;
}

hr {
    border: none;
    border-top: solid 0.125rem var(--variant);
}