---
interface Props {
    level: number;
    id: string;
}

const { level, id } = Astro.props;

type Heading = "h2" | "h3" | "h4" | "h5" | "h6";
const Element = `h${level}` as Heading;
---

<Element {id}>
    <a href={`#${id}`}>
        <slot />
    </a>
</Element>

<style>
    h2 {
        border-top: solid 0.125rem var(--primary);
        padding-top: calc(4rem / 3);
        margin-top: 0.5rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        scroll-margin-top: 4.5rem;
    }

    a {
        color: var(--text);
        &:hover {
            text-decoration: none;
        }
    }
</style>
