---
import { Icon } from "icons";
---

<a
    href="http://github.com/noClaps/gallery/releases/latest/"
    target="_blank"
    rel="noopener noreferrer"><Icon name="download" />Download</a
>
<a
    href="https://zerolimits.dev"
    class="homepage"
    target="_blank"
    rel="noopener noreferrer"
    title="ZeroLimits.dev"
>
    <img src="https://zerolimits.dev/icon/favicon.svg" alt="Favicon" />
</a>

<style lang="scss">
    a {
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.25s;
        color: var(--text);
        font-weight: 550;
        display: inline-flex;
        fill: var(--text);
        gap: 0.125rem;

        &:hover {
            color: var(--link);
            fill: var(--link);
        }

        &.homepage {
            img {
                width: 1.25rem;
            }
            &:hover {
                filter: brightness(75%);
            }
        }
    }
</style>
