---
import Nav from "./Nav.astro";
import { Icon } from "icons";
---

<aside id="aside">
    <button
        onclick="document.getElementById('sidebar').classList.toggle('open');"
        title="Sidebar"
        type="button"
    >
        <Icon name="sidebar" />
    </button>

    <nav id="sidebar">
        <Nav />
    </nav>
</aside>

<style lang="scss">
    aside {
        display: none;
        z-index: 999;
        position: relative;

        button {
            display: inline-flex;
            color: var(--text);
            margin: 1vh 1vw;
            background-color: transparent;
            border: none;
        }

        // Sidebar
        nav {
            display: flex;
            position: absolute;
            right: 0;
            scroll-margin-top: 5rem;
            background-color: var(--bg);
            border: solid 0.125rem var(--variant);
            border-radius: 0.75rem;
            padding: 0.5rem;
            white-space: nowrap;
            margin-right: 1rem;
            margin-top: 0.5rem;
            transition: all 0.25s;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;

            &.open {
                visibility: visible;
                transform: translateY(10%);
            }

            &:not(nav.open) {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10%);
            }
        }
    }
</style>

<script>
    if (window.matchMedia("(max-width: 768px)").matches) {
        document.getElementById("aside")!.style.display = "initial";
    }

    document.addEventListener("click", function (event) {
        if (
            (event.target as HTMLElement)!.closest("button") ||
            (event.target as HTMLElement)!.closest("nav")
        )
            return;
        document.getElementById("sidebar")!.classList.remove("open");
    });
</script>
