body.light {
    --bg: #fff;
    --text: #111;
    --variant: #eee;

    .moon {
        display: inline-block;
    }

    .sun {
        display: none;
    }
}

body.dark {
    --bg: #111;
    --text: #eee;
    --variant: #222;

    .moon {
        display: none;
    }

    .sun {
        display: inline-block;
    }
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}