@use "colors";

// Font
:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

// Root
*,
:before,
:after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;

    @supports (scroll-behavior: smooth) {
        scroll-behavior: smooth;
    }
}

html {
    height: -webkit-fill-available;
}

main {
    width: 88vw;
    max-width: 64rem;
    margin: 0 auto;
}

p, li {
    line-height: 1.5rem;
    text-align: justify;
}

// Scrollbar
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--variant);
    border-radius: 0.5rem;
    border: solid 0.375rem var(--bg);
}

// Nav
nav.open img {
    margin: auto;
}