---
import "@/styles/vars.css";
import "@/styles/global.css";
import Header from "@/components/layout/Header.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "A blog about the most random things you can think of.",
} = Astro.props;
---

<html lang="en">
  <head>
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://api.fontshare.com/v2/css?f[]=switzer@2,1&display=swap"
      rel="stylesheet"
    />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title="RSS"
      slot="head"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header>
      <slot name="header" />
    </Header>

    <slot />
  </body>
</html>
